.card-experience {
    overflow: visible;
    width: 760px;
    height: 500px;
  }
  strong {
    font-size: large;
  }


  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }

  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }

  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 200px;
    height: 185%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 10000ms infinite linear;
  }

  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .card-experience:hover .content {
    transform: rotateY(180deg);
  }

  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }

    0% {
      transform: rotateZ(360deg);
    }
  }

  .front {
    transform: rotateY(180deg);
    color: white;
    position: relative;
  }

  .front .front-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .front-content .badge {
    position: absolute;
    background-color: #00000055;
    top: 15px; /* Shift the badge down by 5px (from 10px to 15px) */
    left: 15px; /* Shift the badge to the right by 5px */
    
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }

  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    height: 60%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }

  .in-line {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .title {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff; 
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  }
  
  .time-period {
    font-size: 15px;
    color: #ffffff88;
    text-align: right;
    font-family: 'Lora', serif; 
    text-align: right;
    font-style: italic; 
  }

  .description p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    color: #ffffffdd; 
    line-height: 1.6; 
    margin-top: 10px;
    text-align: justify; 
  }

  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }

  .img-container {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
  }
  .img-container .img {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 90%;
  }


  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }

  #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }

  #right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0px);
    }
  }