.footer {
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    gap: 1vw;
  }
  
  .footer-icon {
    color: #fff;
    font-size: 2rem;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .linkedin:hover {
    color: #0077B5;
    transform: scale(1.2); 
  }

  .git:hover {
    color: #000000;
    transform: scale(1.2); 
  }

  .mail:hover {
    color: #659bdf;
    transform: scale(1.2); 
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer a:focus {
    outline: none;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
  flex: 1;
}

.foo {
  height: 2px;
  width: 80%;
  margin: 1.5rem auto;
  background: linear-gradient(
    to right,
    transparent,
    #ffffff 20%,
    #ffffff 80%,
    transparent
  );
  border: 0;
}
