@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home-wrapper {
    font-family: 'Raleway', sans-serif;
  }
  
  .textWrap {
    
  }
  
  .hamin {
    text-shadow: 0 20px 40px rgba(0,0,0,.5);
  }
  
  h2 {
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 800;
    color:#062930;
    text-shadow: 0 20px 40px rgba(0,0,0,.5);
  }

  .gold-text {
    background: linear-gradient(45deg, #b88a4a, #f2c14d, #ffcc00, #f5a623);
    -webkit-background-clip: text; /* Make the gradient apply to text */
    background-clip: text; /* Same for non-webkit browsers */
    color: transparent; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 3.5rem; /* Scale down text on smaller screens */
    }
  
    h2 {
      font-size: 2.5rem;
    }
  }
  
  .cursor {
    display: inline-block;
    width: 3px; 
    background-color: black;
    margin-left: 5px;
    animation: blink 0.5s steps(1) infinite;
  }

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.about-header {
  margin-left: 7vw;
}



.subheader {
  font-size: 2rem;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10vh
}

.languages {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subgroup-one, .subgroup-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.subgroup-one {
  margin-top: -10vh;
}

.subgroup-two {
  margin-top: 10vh;
}

.subgroup-one > div, .subgroup-two > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  margin-bottom: 100px;
}



.skills-group {
  height: 50vh;
  width: 40vw;
}


.skills-card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
              -5px -5px 15px rgba(255, 255, 255, 0.1);
              transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.skills-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 0 25px #fef4f5;
}

.skills-image {
  width: 50%;
  height: auto;
}

.skills-name {
  margin-top: 10px;
  font-size: 13px;
}

.web-dev {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92%;
  column-gap: 4vw;
}

.ml-items {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92%;
  row-gap: 3vw;
  column-gap: 5vw;
}







